@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import 'tailwindcss';

@theme {
  --font-sans: 'Quicksand', ui-sans-serif, system-ui, sans-serif;
  --font-mono: 'Fira Code', ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
  :root {
    --radius: 0.625rem;
    --background: #ffffff;
    --foreground: #0e0f10;
    --card: #f5f5f5;
    --card-foreground: #0e0f10;
    --popover: #ffffff;
    --popover-foreground: #0e0f10;
    --primary: #c7a875;
    --primary-foreground: #ffffff;
    --secondary: #b8a989;
    --secondary-foreground: #ffffff;
    --muted: #f5f5f5;
    --muted-foreground: #6b7280;
    --accent: #f5f5f5;
    --accent-foreground: #c7a875;
    --destructive: #f43f5e;
    --destructive-foreground: #ffffff;
    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #c7a875;
  }

  .dark {
    --background: #0e0f10;
    --foreground: #ededed;
    --card: #1a1c1e;
    --card-foreground: #ededed;
    --popover: #1a1c1e;
    --popover-foreground: #ededed;
    --primary: #eee3c9;
    --primary-foreground: #0e0f10;
    --secondary: #dad4ba;
    --secondary-foreground: #0e0f10;
    --muted: #2a2d30;
    --muted-foreground: #c7c7c7;
    --accent: #2a2d30;
    --accent-foreground: #eee3c9;
    --destructive: #f43f5e;
    --destructive-foreground: #ffffff;
    --border: #333333;
    --input: #333333;
    --ring: #eee3c9;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
